<div class="content-header">
    Liste des utilisateurs
  </div>
  <form class="form" autocomplete="off">
    <section>
      <div class="card mt-3">
        <div class="card-content">
          <div class="card-body">
            <div class="card-block">
              <form>
                <div class="input-group">
                  <div>
                    <span class="mdi mdi-filter input-group-text form-control" id="sizing-addon1">Filtré par</span>
                  </div>
                  <input type='text' class="form-control" placeholder="Recherche..." />
  
                </div>
              </form>
        
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Nom complet
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Nom d'utilisateur
                      </th>
                      <th>
                        Heure
                      </th>
                      <th>
                       Détail Entretien
                      </th>
                      <th>
                        Annuler entretien
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="py-1">
                        User 1
                      </td>
                      <td>
                        
                      </td>
                      <td>
                        
                      </td>
                      <td>
                        <a class="mdi mdi-content-save info"></a>
                      </td>
                      <td>
                      
                      </td>
                      <td>
  
                      </td>
                    </tr>
                    <tr>
                      <td class="py-1">
                        user 2
                      </td>
                      <td>
                        
                      </td>
                      <td>
                        
                      </td>
                      <td>
                        <a class="mdi mdi-content-save info"></a>
                      </td>
                      <td>
                        
                      </td>
                      <td>
  
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>