<div class="card">
    <div class="card-header">
        <h5 class="title">Ajouter utilisateur</h5>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-4">
                <label class="label-control" for="firstName">Nom </label>
                <input class="form-control" type="text" name="fisrtName" id="firstName">
            </div>
            <div class="col-md-4">
                <label class="label-control" for="lastName">Prénom </label>
                <input class="form-control" type="text" name="lastName" id="lastName">
            </div>
            <div class="col-md-4">
                <label class="label-control" for="userName">Nom d'utilisateur</label>
                <input class="form-control" type="text" name="userName" id="userName">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label class="label-control" for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email">
            </div>
            <div class="col-md-4">
                <label class="label-control" for="password">Mot de passe</label>
                <input class="form-control" type="text" name="password" id="password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label class="label-control" for="role">Role</label>
                <ng-select >

                </ng-select>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-info float-right" type="button">Enregistrer</button>
    </div>
</div>