<!-- <div class="container-scroller"> -->
<!-- <app-navbar *ngIf="showNavbar"></app-navbar> -->
<!-- <div class="container-fluid page-body-wrapper"> -->
<!-- <app-sidebar *ngIf="showSidebar"></app-sidebar> -->
<!-- <div class="main-panel" [ngClass]="{ 'main-panel-only': !showSidebar }"> -->
<!-- <div class="content-wrapper"> -->
<!-- <app-spinner *ngIf="isLoading"></app-spinner> -->
<!-- <div contentAnimate *ngIf="!isLoading" class="h-100"> -->
<ngx-ui-loader
  [fgsColor]="demoService.config.fgsColor"
  [fgsPosition]="demoService.config.fgsPosition"
  [fgsSize]="demoService.config.fgsSize"
  [fgsType]="demoService.config.fgsType"
  [bgsColor]="demoService.config.bgsColor"
  [bgsOpacity]="demoService.config.bgsOpacity"
  [bgsPosition]="demoService.config.bgsPosition"
  [bgsSize]="demoService.config.bgsSize"
  [bgsType]="demoService.config.bgsType"
  [gap]="demoService.config.gap"
  [logoPosition]="demoService.config.logoPosition"
  [logoSize]="demoService.config.logoSize"
  [logoUrl]="demoService.config.logoUrl"
  [overlayColor]="demoService.config.overlayColor"
  [pbColor]="demoService.config.pbColor"
  [pbDirection]="demoService.config.pbDirection"
  [pbThickness]="demoService.config.pbThickness"
  [hasProgressBar]="demoService.config.hasProgressBar"
  [text]="demoService.config.text"
  [textColor]="demoService.config.textColor"
  [textPosition]="demoService.config.textPosition"
></ngx-ui-loader>
<router-outlet></router-outlet>
<!-- </div> -->
<!-- </div> -->
<!-- <app-footer *ngIf="showFooter"></app-footer> -->
<!-- </div> -->
<!-- </div> 
</div> -->
