<div class="content-header">
    Ajouter entretien
</div>
<form class="form" autocomplete="off" novalidate (ngSubmit)="addInterview(FormValidation)" #FormValidation="ngForm">
    <section>
        <div class="card card-search mt-3">
            <div class="card-body">
                <div class="card-block">
                    <!-- <div class="form-section">
              <i class="mdi mdi-filter"></i>
              Session
            </div> -->
                    <div class="form-group row">
                        <div class="col-4">
                            <label class="label-control" for="session">Session</label>
                            <input class="form-control " type="text" name="session" id="session"
                                [(ngModel)]="sessionDetail.liB_SESSION" disabled>
                        </div>
                        <div class="col-4">
                            <label class="label-control" for="dateSession">Date Session</label>
                            <input class="form-control" type="text" name="dateSession" id="dateSession"
                                [ngModel]="sessionDetail.datE_SESSION | date: 'dd-MM-yyyy'" disabled>
                        </div>
                        <!-- <div class="col-4">
                            <label class="label-control" for="dateFin">Date Fin</label>
                            <input class="form-control" type="text" name="dateFin" id="dateFin"
                                [ngModel]="sessionDetail.datE_FIN | date: 'dd-MM-yyyy'" disabled>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- <div class="card-block search-footer-color">
          <div class="float-right mr-5 mb-2">
            <button type="button" class="btn btn-raised btn-primary">
              <span class="ft-search"></span>Chercher
            </button>
          </div>
          <div class="float-right mr-2 mb-2">
            <button type="button" class="btn btn-raised btn-warning">
              <span class="ft-file"></span>
              Annuler
            </button>
          </div>
        </div> -->
        </div>
    </section>
    <section>
        <div class="card mt-3">
            <!-- <div class="card-content"> -->
            <div class="card-body">
                <div class="card-block row">
                    <!-- DETAIL CANDIDAT -->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="label-control " for="candidat" [ngClass]="{
                                    'text-danger': candidat.invalid && isNotValid
                                  }">Candidat</label>
                                <ng-select [items]="candidatList" name="candidat" bindValue="iD_CANDIDAT"
                                    bindLabel="identitE_CANDIDAT" placeholder="Choisir un candidat" 
                                    [(ngModel)]="candidatId" (ngModelChange)="onChangeCandidat($event)" #candidat="ngModel" required>
                                </ng-select>
                                <small class="text-danger" *ngIf="candidat.invalid && isNotValid">
                                    Champ obligatoire
                                </small>
                            </div>

                        </div>
                        <div class="form-section">
                            <i></i>Détails candidat
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="label-control" for="candidateName">Candidat</label>
                                <input class="form-control" type="text" name="candidateName" id="candidateName"
                                    [(ngModel)]="candidatDetail.identitE_CANDIDAT" disabled>
                            </div>

                            <div class="col-md-6">
                                <label class="label-control" for="nationalite">Nationalité</label>
                                <input class="form-control" type="text" name="nationalite" id="nationalite"
                                    [(ngModel)]="candidatDetail.nationalitE_CANDIDAT" disabled>
                            </div>
                            <!-- <div class="col-md-6">
                                <label class="label-control" for="email">Email</label>
                                <input class="form-control" type="email" name="email" id="email" [(ngModel)]="candidatDetail.email" disabled>
                            </div> -->
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="label-control" for="dateNaissance">Date de naissance</label>
                                <input class="form-control" type="text" name="dateNaissance" id="dateNaissance"
                                    [ngModel]="candidatDetail.datE_NAISSANCE_CANDIDAT | date:'dd-MM-yyyy'" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="label-control" for="lieuNaissance">Lieu de naissance</label>
                                <input class="form-control" type="text" name="lieuNaissance" id="lieuNaissance"
                                    [(ngModel)]="candidatDetail.lieU_NAISSANCE_CANDIDAT" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md">
                                <label class="label-control" for="adresse">Adresse</label>
                                <textarea class="form-control" name="adresse" id="adresse" cols="30" rows="3"
                                    [(ngModel)]="candidatDetail.adressE_CANDIDAT" disabled></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md">
                                <label class="label-control" for="ficheCandidat">Fiche candidat</label>
                                <input class="form-control" type="url" name="ficheCandidat" id="ficheCandidat"
                                    [(ngModel)]="candidatDetail.urL_CANDIDAT" disabled>
                            </div>
                        </div>
                    </div>
                    <!-- DETAIL FORMATION -->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="label-control" for="formation" [ngClass]="{
                                    'text-danger': formation.invalid && isNotValid
                                  }">Formation</label>
                                <ng-select [items]="formationList" name="formation" id="formationList"
                                    bindValue="iD_FORMATION" bindLabel="liB_FORMATION"
                                    placeholder="Choisir une formation" [(ngModel)]="formationId" #formation="ngModel"
                                    (ngModelChange)="onChangeFormation()" required>
                                </ng-select>
                                <small class="text-danger" *ngIf="formation.invalid && isNotValid">
                                    Champ obligatoire
                                </small>
                            </div>
                            <div class="col-md-6">
                                <label class="label-control" for="heure" [ngClass]="{
                                    'text-danger': heure.invalid && isNotValid
                                  }">Heure</label>
                                <input class="form-control" type="time" name="heure" id="heure" #heure="ngModel"  [(ngModel)]="interview.heurE_ENTRETIEN" required>
                                <small class="text-danger" *ngIf="heure.invalid && isNotValid">
                                    Champ obligatoire
                                </small>
                            </div>
                        </div>
                        <div class="form-section">
                            <i></i>Détails formation
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="label-control" for="formtionDesignation">Formation</label>
                                <input class="form-control" type="text" name="formtionDesignation"
                                    id="formtionDesignation" [(ngModel)]="formationDetail.liB_FORMATION" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="label-control" for="dateEntree">Date d'entrée</label>
                                <input class="form-control" type="text" name="dateEntree" id="dateEntree"
                                    [ngModel]="formationDetail.datE_ENTREE | date: 'dd-MM-yyyy'" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="label-control" for="etablissement">Etablissement</label>
                                <input class="form-control" type="text" name="etablissement" id="etablissement"
                                    [(ngModel)]="formationDetail.liB_ETABLISSEMENT" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="label-control" for="dateLimiteEntree">Date limite d'entrée</label>
                                <input class="form-control" type="text" name="dateLimiteEntree" id="dateLimiteEntree"
                                    [ngModel]="formationDetail.datE_LIMITE | date: 'dd-MM-yyyy'" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="label-control" for="ville">Ville</label>
                                <input class="form-control" type="text" name="ville" id="ville"
                                    [(ngModel)]="formationDetail.ville" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="label-control" for="directeur">Directeur</label>
                                <input class="form-control" type="text" name="directeur" id="directeur"
                                    [(ngModel)]="formationDetail.directeur" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="label-control" for="classe">Classe</label>
                                <input class="form-control" type="text" name="classe" id="classe"
                                    [(ngModel)]="formationDetail.classe" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="label-control" for="montant">Montant</label>
                                <input currencyMask class="form-control" type="text" name="montant" id="montant"
                                    [(ngModel)]="formationDetail.montant" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="label-control" for="annee">Année</label>
                                <input class="form-control" type="number" name="annee" id="annee"
                                    [(ngModel)]="formationDetail.annee" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="label-control" for="niveauAdmisssion">Niveau d'admission</label>
                                <input class="form-control" type="text" name="niveauAdmisssion" id="niveauAdmisssion"
                                     disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <div>
                    <button class="btn btn-danger float-right" type="button" (click)="onCancel()">Annuler</button>
                    <button class="btn btn-info float-right mr-2" type="submit">Ajouter</button>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </section>
</form>