<form class="form" #formValidation="ngForm" novalidate autocomplete="off" (ngSubmit)="onSaveEdit()">
    <div class="card">
        <div class="card-header">
            <h5 class="title">Détail entretien</h5>
        </div>
        <div class="card-body">
            <div class="form-group row">
                    
                <div class="col-md-3">
                    <label class="label-control" for="heure">Heure</label>
                    <input class="form-control" type="time" name="heure" id="heure" [(ngModel)]="interviewDetail.heurE_ENTRETIEN" [disabled]="!canEdit">
                </div>
            </div>
            <div class="card-block row">
                <!-- DETAIL CANDIDAT -->
                <div class="col-md-6">
                      
                    <div class="form-section">
                        <i></i>Détails candidat
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="label-control" for="candidateName">Candidat</label>
                            <input class="form-control" type="text" name="candidateName" id="candidateName"
                                [(ngModel)]="interviewDetail.identitE_CANDIDAT" disabled>
                        </div>

                        <div class="col-md-6">
                            <label class="label-control" for="nationalite">Nationalité</label>
                            <input class="form-control" type="text" name="nationalite" id="nationalite"
                                [(ngModel)]="interviewDetail.nationalitE_CANDIDAT" disabled>
                        </div>
                        <!-- <div class="col-md-6">
                            <label class="label-control" for="email">Email</label>
                            <input class="form-control" type="email" name="email" id="email" [(ngModel)]="interviewDetail.email" disabled>
                        </div> -->
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="label-control" for="dateNaissance">Date de naissance</label>
                            <input class="form-control" type="text" name="dateNaissance" id="dateNaissance"
                                [ngModel]="interviewDetail.datE_NAISSANCE_CANDIDAT | date:'dd-MM-yyyy'" disabled>
                        </div>
                        <div class="col-md-6">
                            <label class="label-control" for="lieuNaissance">Lieu de naissance</label>
                            <input class="form-control" type="text" name="lieuNaissance" id="lieuNaissance"
                                [(ngModel)]="interviewDetail.lieU_NAISSANCE_CANDIDAT" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md">
                            <label class="label-control" for="adresse">Adresse</label>
                            <textarea class="form-control" name="adresse" id="adresse" cols="30" rows="3"
                                [(ngModel)]="interviewDetail.adressE_CANDIDAT" disabled></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md">
                            <label class="label-control" for="ficheCandidat">Fiche candidat</label>
                            <input class="form-control" type="url" name="ficheCandidat" id="ficheCandidat"
                                [(ngModel)]="interviewDetail.urL_CANDIDAT" disabled>
                        </div>
                    </div>
                </div>
                <!-- DETAIL FORMATION -->
                <div class="col-md-6">
                 
                    <div class="form-section">
                        <i></i>Détails formation
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="label-control" for="formtionDesignation">Formation</label>
                            <input class="form-control" type="text" name="formtionDesignation"
                                id="formtionDesignation" [(ngModel)]="interviewDetail.liB_FORMATION" disabled>
                        </div>
                        <div class="col-md-6">
                            <label class="label-control" for="dateEntree">Date d'entrée</label>
                            <input class="form-control" type="text" name="dateEntree" id="dateEntree"
                                [ngModel]="interviewDetail.datE_ENTREE | date: 'dd-MM-yyyy'" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="label-control" for="etablissement">Etablissement</label>
                            <input class="form-control" type="text" name="etablissement" id="etablissement"
                                [(ngModel)]="interviewDetail.liB_ETABLISSEMENT" disabled>
                        </div>
                        <div class="col-md-6">
                            <label class="label-control" for="dateLimiteEntree">Date limite d'entrée</label>
                            <input class="form-control" type="text" name="dateLimiteEntree" id="dateLimiteEntree"
                                [ngModel]="interviewDetail.datE_LIMITE | date: 'dd-MM-yyyy'" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="label-control" for="ville">Ville</label>
                            <input class="form-control" type="text" name="ville" id="ville"
                                [(ngModel)]="interviewDetail.ville" disabled>
                        </div>
                        <div class="col-md-6">
                            <label class="label-control" for="directeur">Directeur</label>
                            <input class="form-control" type="text" name="directeur" id="directeur"
                                [(ngModel)]="interviewDetail.directeur" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="label-control" for="classe">Classe</label>
                            <input class="form-control" type="text" name="classe" id="classe"
                                [(ngModel)]="interviewDetail.classe" disabled>
                        </div>
                        <div class="col-md-6">
                            <label class="label-control" for="montant">Montant</label>
                            <input currencyMask class="form-control" type="text" name="montant" id="montant"
                                [ngModel]="interviewDetail.montant" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="label-control" for="annee">Année</label>
                            <input class="form-control" type="number" name="annee" id="annee"
                                [(ngModel)]="interviewDetail.annee" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div>
                <button class="btn btn-danger float-right" type="button" [hidden]="!canEdit" (click)="onCancelEdit()">Annuler</button>
                <button class="btn btn-warning float-right mr-2" type="submit" [hidden]="!canEdit">Enregistrer</button>
                <button class="btn btn-info float-right mr-2" (click)="onEdit()" type="button" [hidden]="canEdit">Modifier</button>
            </div>
        </div>
    </div>
</form>
           
        
 